/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0;
 	background:#f2eada url(./brown-papersq.png);
	font-size: 12px;
	border: 0;
	font-family: "Consulas", "Courier New", Courier, mono, serif;
	margin: 0;
	width: 100%;
	font-weight: 200;
color:  white-space: pre-wrap;
	box-sizing: border-box;

}
.hljs, .hljs-tag, .hljs-subst {
	color: #000000;
}
.hljs-strong, .hljs-emphasis {
	color: #a8a8a2;
}
.hljs-bullet, .hljs-quote, .hljs-number, .hljs-regexp, .hljs-literal, .hljs-link {
	color: #ae81ff;
}
.hljs-code, .hljs-title, .hljs-section, .hljs-selector-class {
	color: #a6e22e;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-keyword, .hljs-selector-tag, .hljs-name, .hljs-attr {
	color: #f92672;
}
.hljs-symbol, .hljs-attribute {
	color: #66d9ef;
}
.hljs-params, .hljs-class .hljs-title {
	color: #f8f8f2;
}
.hljs-string, 
.hljs-type, 
.hljs-built_in, 
.hljs-builtin-name, 
.hljs-selector-id, 
.hljs-selector-attr, 
.hljs-selector-pseudo, 
.hljs-addition, 
.hljs-variable, 
.hljs-template-variable {
	color: #e6db74;
}
.hljs-comment, .hljs-deletion, .hljs-meta {
	color: #75715e;
}
.hljs ul {
	list-style: decimal;
	margin: 0px 0px 0 40px !important;
	padding: 0px;
}
.hljs li {
	list-style: decimal-leading-zero;
	border-left: 2px solid #d0eada !important;
	padding: 1px!important;
	margin: 0 !important;
	white-space: pre;
}



